<head> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
<br> <br>
<div class="container">

  <h2>Regisztrálj be</h2>
  <div>
    <label for="username">Felhasználónév</label>
    <input type="text" id="username" [(ngModel)]="username">
    <div *ngIf="usernameError" style="color: red">{{usernameError}}</div>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="email">
    <div *ngIf="emailError" style="color: red">{{emailError}}</div>
  </div>
  <div>
    <label for="password">Jelszó</label>
    <input type="password" id="password" [(ngModel)]="password">
    <div *ngIf="passwordError" style="color: red">{{passwordError}}</div>
  </div>
  <button (click)="register()"><i class="fa fa-user-plus"></i> Regisztráció</button>
  <button (click)="navToLogin()"><i class="fa fa-sign-in"></i>Bejelentkezés</button>

</div>