 
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<nav> 
  <app-navbar></app-navbar>
</nav>

<br><br>


<div class="container mt-5">
  <div class="card p-4 border-primary shadow">
    <div class="card-body">
      <h2 class="text-center mb-4">{{playername}} módosítása</h2>
      <form div class="center" #teamForm="ngForm" (ngSubmit)="onSubmit(teamForm)">
        <div class="form-group">
          <label for="value">Érték:</label>
          <input type="number" id="value" name="value" [(ngModel)]="player!.value" required>
        </div>
        <div class="form-group">
          <label for="goals">Gólok:</label>
      <input type="number" id="goals" name="goals" [(ngModel)]="player!.goals" required>
        </div>
        <div class="form-group">
          <label for="country">Ország:</label>
          <input type="text" id="country" name="country" [(ngModel)]="player!.country" required>
        </div>

        <div class="form-group">
          <label for="teamname">Csapat név:</label>
          <select class="form-control" id="teamname" name="teamname" [(ngModel)]="player!.teamname" required>
            <option *ngFor="let team of teams" [value]="team.teamname">{{team.teamname}}</option>
          </select>
        </div>
        <div *ngIf="teamForm.invalid && (teamForm.dirty || teamForm.touched)">
          <div class="text-danger">Minden mező kitöltése kötelező.</div>
        </div>
        <div class="text-center button-container">
          <button type="submit" class="btn btn-primary" [disabled]="!teamForm.valid">
            <span class="material-symbols-outlined">
              edit
            </span> Játékos módosítása
          </button>
        <button class="back-button" (click)="goToBack()">
          <span class="material-symbols-outlined">arrow_back_ios</span> Vissza
        </button>
      </div>
    </form>
    </div>
    
  </div>
  
</div>


    