<!DOCTYPE html>
<html>
<head>
	<title>Team Details</title>
	<!-- <link rel="stylesheet" type="text/css" href="yourcssfile.css"> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<nav> 
	<app-navbar></app-navbar>
</nav>
<body>

	

<div class="player-card">
	<h1>{{ teamname }} részletes adatai</h1>
	<p><span class="material-symbols-outlined">
		groups_2
		</span><strong>Csapat neve: </strong> {{team!.teamname }}</p>
	<p><span class="material-symbols-outlined">
		flag
		</span><strong>Ország: </strong> {{ team!.country }}</p>
	<p><span class="material-symbols-outlined">
		attach_money
		</span><strong>Érték: </strong> {{ team!.teamvalue }} millió dollár</p>
	<p><span class="material-symbols-outlined">
		stadium
		</span><strong>Stadion: </strong> {{team!.stadium }}</p>
	
		<button (click)="goToHome()">
			<span class="material-symbols-outlined">arrow_back_ios</span>
			Vissza
		  </button>
		  
  </div>
</body>

</html>
