<!-- <button (click)="goToHome()">Home</button> -->

<head>
  <!-- <link rel="stylesheet" href="/path/to/font-awesome/css/all.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<nav> 
  <app-navbar></app-navbar>
</nav>

<h1>Játékosok</h1>

<!-- <button (click)="goToAddPlayer()">Játékos hozzáadása</button> -->
<button class="buttonadd" (click)="goToAddPlayer()">
  <span class="material-symbols-outlined">add</span>
</button>
<div class="players-container">

  <div class="player-card" *ngFor="let player of players">
    <h2>{{player.playername}}</h2>
    <p>Érték: {{player.value}}</p>
    <p>Gólok: {{player.goals}}</p>
    <p>Nemzetiség: {{player.country}}</p>
    <p>Csapat: {{player.teamname}}</p>

    <div class="buttons">
      <button class="edit-button" (click)="goToEditPlayer(player.playername)">
        <i class="fas fa-edit"></i>
      </button>
      <button class="delete-button" mat-raised-button color="warn" (click)="openConfirmationDialog(player.playername)">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="isConfirmationDialogOpen">
  <app-confirmation-dialog 
    [title]="'Confirm Deletion'" 
    [message]="'Are you sure you want to delete ' + playerToDelete+ '?'"
    (confirmed)="deletePlayer()"
    (dialogClosed)="handleDialogClosed()">
  </app-confirmation-dialog>
</ng-container>




